{% extends "polls/base.html" %}

{% block content %}


<div class="container" >
<div class="panel panel-info">
<div class="panel-heading">
    <h1>{{ question.question_text }}</h1>
</div>
<div class="panel-body">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<br>
<input class="btn btn-success" type="submit" value="Vote" />
</form>
</div>
<div class="panel-footer">
<a class="text text-info" href="{% url 'polls:index' %}"><u>Back</u></a>
</div>
</div>
</div>


{% endblock %}